#title:hover{color:white;}

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
#dropdowndiv a {
  text-decoration: none;
  color: black;
  font-size: 2.4vw;
}

#dropdowndiv ul li ul h3:hover a {color:white;}


ul li:hover ul{display:block;}
ul li ul{
  position:absolute;
  width:inherit;
  display: none;
}
#dropdowndiv ul li {
   display: inline-block;
   background-color: red;
   height:auto;
   width:14.2857142857142857142857142857142857142857142857%;
   text-align: center;
 }
 #dropdowndiv ul li ul li  {
   display:inline-block;
   background-color: green;
   height:auto;
 }
#dropdowndiv h3 {
  text-decoration: none;
  display:inline-block;
}

#dropdowndiv ul li ul li:hover{background-color:black;color:white;}

.dropdownHeadings
{
  background-color:red;
  z-index: 2;
  border: solid 3px #019fb6;
  border-bottom: solid 4px #019fb6;
  text-align: center;
  vertical-align: middle;
  height:100px;
  line-height: 90px;
}
.dropdownHeadings:hover{
  background-color:pink;
  opacity: 100%;
}
#dropdowndiv ul li h3, #dropdowndiv ul li ul li{width:100%;}

/*this is the flex code*/
#headmain {
  display: flex;
  width:100%;
}
#headmain li{
  -ms-flex: 1;  /* IE 10 */
  flex: 1;
}
