#game_title {
  display:inline-block;
  height:10vh;
  width:auto;
  padding-top:10px;
  font-family: 'western'; /* i want a western-esque font */
  font-size: 50px;
  /*background-color: blue;*/
  color: black;
}
#subsubtitle {
  margin-left:10px;
}

body {
  background-color: hsla(39 ,100%, 50%, 1)/*#5ea885*//*#668085*//*#666bdc*//*black*//*#FF663C*/;
  height: auto;
  color:black;
}
