/*
  makes every link not be anything
*/
  #footer {
    width:100vw;
    background-color: grey;
    color: white;
    position: relative;
    bottom: 0;
    display: inline-block;
    z-index: 1;
  }


  #footer_head {
    display:block;
    width:100%;
    text-align: center;
    padding-top:5px;
    padding-bottom:5px;
    height: auto;
  }
  .footer_head_data {
    display:inline-block;
    width: 25%;


  }
  .footer_body {
    display: inline-block;
    list-style-type: none;

    text-align: center;
    width:25vw;

  }

  .footer_body a:link {
    text-decoration: none;
    color: yellow;
  }
  .footer_body a:visited {
    text-decoration: none;

    color: yellow;
  }
  .footer_body a:hover {
    text-decoration: underline;
    color:rgb(108, 197, 205);/*rgb(255, 0, 0); backup - completely red*/
  }
  a:active {
    color:black;
  }
