*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

/*.dropdown{
  height:100px;
  background-color:rgb(255, 0, 0);
  opacity: 50%;
  position:relative;}*/


}
/*firstH to fifthH style is defining the horizontal position*/
