*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

/*this is for the color-changing title/header*/
#title{
    background-color:rgb(0,0,0);
    height: 100px;
    padding: 100px

    font-size: 20px;
    opacity: 100%;

}


#title:hover{color:white;}
