<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>2024 Presidential Template</title>

    <style media="screen">
      *{
        margin:0;
        padding: 0;
        box-sizing: border-box;
      }
      table{
        width: 100%;
        table-layout: fixed;

      }
      table, thead, tbody, tr, th, td {
        text-align: center;
        border-collapse: collapse;
        border: 1px black solid;
        
      }
    </style>

  </head>
  <body>
<table>
  <col>
  <col>
  <col>

  <thead>
    <tr>

      <th colspan="5" scope="colgroup"><h1 id='title'>Vote Me For 2024</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Our Mission</td>
      <td>Our views</td>
      <td>Our donate button</td>
      <td>Work with us</td>
      <td>Share</td>
    </tr>
  </tbody>
</table>



    <script type="text/javascript">
      // check if php is supported
      //if (window.location.origin == 'http://192.168.64.3' || window.location.origin == 'http://192.168.64.3/')
        //window.location.replace('http://192.168.64.3/templates/presidential/index.php');

    </script>

  </body>
</html>
